html, body {
  overscroll-behavior: none;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page-container {
    width: calc(100vw - 400px);
    min-height: 100vh;
    background-color: white;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}

.section-head {
    margin-bottom: 50px;
    color: #3682b4;
}

.page-section {
    border-bottom: 1px solid #0e5ea3;
    padding-bottom: 50px;
    padding-top: 50px;
}

.external-link{
    color: #3682b4;
    text-decoration: none;
}

.external-link:hover{
    color: #fdcf17;
    cursor: pointer;
}

@media (max-width: 950px) {
    .page-container{
        padding-left: 25px;
        padding-right: 25px;
        width: calc(100vw - 50px);
        text-align: center;
    }
}
